.budget {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #0E212F;
}

.budget .container {
    background-color: #DAE3EA;
    padding: 15px;
    border-radius: 15px;
}

.budget h1 {
    color: #0E212F;
    font-size: 21px;
    margin: 0;
}

.budget .header {
    margin-top: -60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.budget button {
    background-color: #DAE3EA;
    font-weight: 300;
    border-radius: 25px;
}

.budget .active {
    background-color: #F89422;
    color: #FFFFFF;
}

.budget .error {
    background-color: #DAE3EA;
    color: #6c7277;
    cursor: not-allowed;
}

.breakdown {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.budget h3 {
    display: flex;
    justify-content: space-around;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

.totalExpenses{
    padding-top: 5px;
    font-size: 16px;
}

.breakdown h4 {
    font-weight: 400;
    margin: 0;
}

.breakdown input {
    width: 150px;
    margin: 0;
}

.total_budget_bar {
    margin-top: -5px;
    height: 10px;
    background-color: #5BA5A4;
}

.total_expenses_bar {
    height: 10px;
    background-color: #DE0000;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 300px) {
    .plan_details {
        display: flex;
        flex-direction: column;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1100px) {
    .budget .header {
        width: 450px;
    }

    .budget .container {
        margin-right: 15px;
        width: 425px;
    }
}