.content {
    background-color: #FFFFFF;
    min-height: 88vh;
    width: 95vw;
    border-radius: 25px;
    margin: 0;
}

.content .container {
    height: 100%;
    margin: 0;
    padding: 8px
}

.content p {
    color: #0E212F;
    font-size: 16px;
}

.greeter_container {
    display: flex;
    justify-content: space-between;
}

.greeter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFC788;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    width: 150px;
    border-radius: 25px;
}

.delete {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background-color: #DE0000;
    font-weight: 300;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    width: 100px;
    border-radius: 25px;
}

.delete_modal {
    margin-bottom: 30px;
}

.delete_modal h2 {
    font-weight: 300;
}

.content .container .header {
    background-color: #0E212F;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content h3 {
    margin: 0;
    font-weight: 400;
}

.content h2 {
    margin: 0;
    color: #0E212F;
    font-weight: 400;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1100px) {
    .content {
        width: 85vw;
    }
}