.itinerary_item {
    display: flex;
    margin-top: 20px;
}

.itinerary_item p {
    margin: 0;
}

.itinerary_item .contents {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #FFFFFF;
    border-radius: 15px;
}

.itinerary_item .details {
    display: flex;
    padding: 15px;
}

.itinerary_item .activities {
    margin-left: 20px;
    max-width: 450px;
}

.itinerary_item .delete {
    cursor: pointer;
}

.identifier {
    display: flex;
    justify-content: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #FFC788;
    width: 40%;
}

.icon {
    width: 50px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 300px) {
    .itinerary_item .details {
        display: flex;
        flex-direction: column;
    }

    .itinerary_item .activities {
        margin-left: 0px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1100px) {
    .itinerary_item .details {
        display: flex;
        flex-direction: row;
    }

    .itinerary_item .activities {
        margin-left: 20px;
    }
}