.content h2 {
    margin: 0;
    color: #0E212F;
    font-weight: 400;
}

.content .image_display {
    border-radius: 15px;
    height: 69vh;
    overflow: hidden;
}

.content img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content .image_display h1 {
    position: absolute;
    color: #FFFFFF;
    margin-top: -100px;
    margin-left: 28px;
    font-weight: 200;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 300px) {
    .content .image_display h1 {
        width: 70vw;
        font-size: 30px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1100px) {
    .content .image_display h1 {
        width: 70vw;
        font-size: 40px;
    }
}


