dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    background-color: #0E212F;
    border: none;
    border-radius: 15px;
}

.modal h2 {
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
    margin-bottom: 5px;
    font-size: 21px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label {
    color: #FFFFFF;
    font-size: 16px;
}

input {
    border: none;
    height: 31px;
    font-size: 16px;
    margin-bottom: 16px;
    border-radius: 5px;
}

select {
    border: none;
    height: 31px;
    font-size: 16px;
    margin-bottom: 16px;
    border-radius: 5px;
}

input[type="date"] {
    color: #727A81;
}

.actions button{
    margin-left: 15px;
    color: #0E212F;
    font-weight: 400;
    background-color: #EBE7DB;
    border-radius: 25px;
}

button[type="submit"] {
    color: #FFFFFF;
    background-color: #F89422;
}

dialog .actions {
    display: flex;
    justify-content: end;
    margin-right: 30px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 300px) {
    .modal {
        width: 100vw;
        padding: 30px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1100px) {
    .modal {
        width: 350px;
        padding: 30px;
    }
}